# MegaETH Testnet env (ready-to-use)
VITE_UNIV2_SUBGRAPH="https://gateway.thegraph.com/api/subgraphs/id/AokDW2tqCMiFvVqXUEfiwY94mNXoBQfsszwd5bnPiNcr"
VITE_UNIV2_SUBGRAPH_API_KEY="ec3a21af2c5472c7df51e31dd8b72188"
VITE_UNIV2_SUBGRAPH_TESTNET="https://api.goldsky.com/api/public/project_cmg8hsgg04qnz01wnhnnj9s1y/subgraphs/current-x-testnet/1.0.0/gn"
VITE_UNIV2_SUBGRAPH_API_KEY_TESTNET=""
VITE_RPC_URLS="https://mainnet.megaeth.com/rpc,https://megaeth-mainnet.g.alchemy.com/v2/736CouBi7TOUJrAmHx8jP"
VITE_PRESALE_ENDPOINT="/api/presale"

VITE_TESTNET_NAME="MegaETH Testnet"
VITE_TESTNET_CHAIN_ID_HEX=0x18c7
VITE_TESTNET_RPC_URL="https://carrot.megaeth.com/rpc"
VITE_TESTNET_RPC_URLS=""
VITE_TESTNET_EXPLORER="https://megaeth-testnet-v2.blockscout.com"
VITE_TESTNET_FACTORY_ADDRESS="0x28c56b84190FA59Ce3903d5fE4b3FdbE5315FA24"
VITE_TESTNET_ROUTER_ADDRESS="0x2A6a1e904c86551B195D79DaE8B51202bF645080"

# Core tokens
VITE_TESTNET_WETH_ADDRESS="0x4200000000000000000000000000000000000006"
VITE_TESTNET_USDC_ADDRESS="0x09cF8A0b9e8C89bff6d1ACbe1467e8E335Bdd03E"
VITE_TESTNET_CUSD_ADDRESS="0xc3d7f5BDbdB5a74b29B17D1804e23B527F7A1D58"
VITE_TESTNET_USDM_ADDRESS="0xd8fe4a55f7f79d2937637671923e59d8488683c3"
VITE_TESTNET_CRX_ADDRESS="0x189b27c207b4cBBae1C65086F31383532443f5f2"
VITE_TESTNET_MEGA_TOKEN_ADDRESS="0x5a8bc70674d82ac2bc04be91cf172f60169c50b3"
VITE_TESTNET_XBTC_ADDRESS="0x463151b80DFf738Bb02BA3B4C9Bd788daeEc751c"
VITE_TESTNET_WUSD_ADDRESS="0x07b1EDd4a0D76D07C5A91B9159D13Cb51C8e4E42"
VITE_TESTNET_WUSDC_ADDRESS="0x9f5A17BD53310D012544966b8e3cF7863fc8F05f"

# Protocol
VITE_TESTNET_MASTER_CHEF_ADDRESS="0xE01FA0e28B5a2FaaC5E1c6780B7E8e4059083708"
VITE_TESTNET_CRX_WETH_LP_ADDRESS=""
