@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove number input arrows (Chrome, Edge, Brave) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}

