@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* extra base styles */
body {
  @apply bg-slate-950 text-slate-50;
}
